.cell{
    transition: all;
}

.even{
    background-color: #58F925;
}

.odd{
    background-color: #54D829;
}

.body{
    background-color: #222bdd;
}

.head{
    background-color: #1c0983;
}

.apple{
    /*background-color: #c31717;*/
    background-image: url("../../img/apple.png");
    background-size: 35px 35px;
    content:"";
}