.cell{
    transition: all;
    width: 100%;
    height: 100%;
}

.even{
    background-color: #58F925;
}

.odd{
    background-color: #54D829;
}



.red{
    background-color: #fa3c3c;
}

.yellow{
    background-color: #f2f45d;
}

.purple{
    background-color: #8f6684;
}

.pink{
    background-color: #fc7ccf;
}

.orange{
    background-color: #f39450;
}

.body{
    background-color: #222bdd;
}

.head{
    background-color: #1c0983;
}

.apple{
    /*background-color: #c31717;*/
    background-image: url("../../img/apple.png");
    background-size: 35px 35px;
    content:"";
}