.loose{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: solid 1px #2e3a2d;
    background-color: #418d4f;
    top: calc(100% - 100px);
    right: calc(100% - 100px);
}

.apples_loose{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 25px;
    color: white;
}

.apples_loose::before{
    background-image: url('../../../img/apple.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    padding-right: 5px;
    content:"";

}