.game{
    position: absolute;
    top: 100px;
    right: 30px;
    width: 595px;
    height: 525px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.board{
    position: absolute;
    width: 655px;
    height: 655px;
    top: calc(50vh - 327.5px);
    right: calc(50vw - 292.5px);
    background-color: #038410;
    display: flex;
}