.game{
    position: absolute;
    top: 40px;
    right: 40px;
    width: 680px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.board{
    position: absolute;
    width: 760px;
    height: 680px;
    top: calc(50vh - 340px);
    right: calc(50vw - 380px);
    background-color: #038410;
    display: flex;
}